@font-face {
    font-family: 'PixelifySans';
    src: url('./fonts/PixelifySans/PixelifySans-VariableFont_wght.ttf') format('truetype'),
        url('./fonts/PixelifySans/static/PixelifySans-Bold.ttf') format('truetype'),
        url('./fonts/PixelifySans/static/PixelifySans-Medium.ttf') format('truetype'),
        url('./fonts/PixelifySans/static/PixelifySans-Regular.ttf') format('truetype'),
        url('./fonts/PixelifySans/static/PixelifySans-SemiBold.ttf') format('truetype');
}

.photo-perfil {
    max-width: 250px !important;
    height: auto;
    position: relative;
    z-index: 1000;
}

.social-network-icon {
    width: 50px;
    
}

.social-network-icon:hover {
    width: 75px;
    filter: drop-shadow(0px 0px 5px rgb(53, 53, 53));
}

.modal-skills {
    background-image: url('../img/fondorojo.jpg');
    background-size: cover;
    background-position: center;
    color:rgb(255, 255, 255);
    border-radius: 15px;
}

.modal-content {
    border-radius: 25px !important;
}

.image-skill {
    max-height: 200px;
}

.br-15 {
    border-radius: 15px;
}

body {
    background-image: linear-gradient(to bottom right, rgb(255, 244, 157), rgb(205, 176, 44));
    background-size: contain;
    background-position: top;
    font-family: 'PixelifySans', sans-serif !important;
}

.bg-redblack {
    background-image: url('../img/fondorojo.jpg');
    background-size: cover;
    background-position: center;
}

.bg-transparent {
    background: none;
}

.logos-skills {
    max-height: 80px;
    filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
    cursor: pointer;
}

.b-0 {
    border: 0px;
}

.card-title {
    font-size: 30px !important;
    color: #8d0000;
}

.logo-hoobies {
    max-height: 30px;
    width: auto;
}

tbody, td, tfoot, th, thead, tr {
    border: 0px !important;
}

.color-light {
    color:rgb(255, 255, 255) !important;
}

@media (max-width: 767.98px) {
    .logos-skills {
        max-width: 50px;
        height: auto;
    }
    #root > div > div > div.bg-transparent.card {
        width: 100%;
    }
}

@media (max-width: 457.50px) {
    .logos-skills {
        max-width: 40px;
        height: auto;
    }
    #root > div > div > div.bg-transparent.card {
        width: 100%;
    }
}
